// Rename this file firebaseConfig.js and insert your Firebase credentials below.

import Firebase from 'firebase';

const config = {
  apiKey: '!! Replace with your own Firebase settings !!',
  authDomain: '!! Replace with your own Firebase settings !!',
  databaseURL: '!! Replace with your own Firebase settings !!',
  projectId: '!! Replace with your own Firebase settings !!',
  storageBucket: '!! Replace with your own Firebase settings !!',
  messagingSenderId: '!! Replace with your own Firebase settings !!',
};

export const firebaseApp = Firebase.initializeApp(config);
const db = firebaseApp.database();
export const dbJobsRef = db.ref('jobs');
